@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 80%;
  margin: auto;
}

.flex {
  display: flex;
  justify-content: space-between;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

header {
  padding: 20px 0px;
  background-color: lightseagreen;
  color: white;
}

header ul {
  display: inline-block;
}

header ul li {
  display: inline-block;
  margin-left: 40px;
}

header ul li a {
  font-size: x-large;
  font-weight: 500;
  transition: 0.3s;
}

header ul li a:hover {
  color: darkblue;
  font-weight: 500;
}

.navbar-items-icon {
  color: #00296b;
  display: none;
}

header.active {
  position: sticky;
  top: 0;
  left: 0;
  background-color: lightseagreen;
  box-shadow: 0 2px 28px 0 lightblue;
  width: 100%;
  z-index: 10;
}

@media screen and (max-width: 768px) {
  .nav-links {
    display: none;
  }
  .nav-links-sidebar {
    position: absolute;
    display: block;
    background-color: lightseagreen;
    align-items: center;
    left: 0px;
    top: 75px;
    transition: 0.5s;
    width: 100%;
    height: 40vh;
    z-index: 5;
  }
  .nav-links-sidebar {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }
  header ul li {
    margin-bottom: 30px;
  }
  .navbar-items-icon {
    display: block;
    position: absolute;
    right: 30px;
    color: #00296b;
    border: 1px solid white;
    padding: 5px 10px;
  }
}

.left,
.right {
  width: 50%;
  position: relative;
}

.flex {
  display: flex;
}

.topMargin {
  margin-top: 80px;
}

.home {
  height: 100vh;
}

.home .img {
  height: 95vh;
  width: 100%;
  position: relative;
}

.home img {
  position: absolute;
  top: 30px;
  left: -20px;
  height: 90vh;
  width: 100%;
  object-fit: contain;
  transform: scale(1.1);
}
.home h1 {
  font-size: 60px;
}

.socialIcon i {
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  margin-right: 10px;
  border-radius: 50%;
  transition: 0.5s;
  cursor: pointer;
}

.linkedin a {
  color: lightseagreen;
  border: 1px none lightseagreen;
}

.linkedin a:hover {
  color: darkblue;
}
.github a {
  color: lightseagreen;
  border: 1px none lightseagreen;
}

.github a:hover {
  color: darkblue;
}

.twitter a {
  color: lightseagreen;
  border: 1px none lightseagreen;
}

.twitter a:hover {
  color: darkblue;
}

.facebook a {
  color: lightseagreen;
  border: 1px none lightseagreen;
}

.facebook a:hover {
  color: darkblue;
}

button {
  background: none;
  outline: none;
  border: none;
  color: white;
  font-weight: 600;
  font-size: 15px;
  transition: 0.5s;
  cursor: pointer;
}

.primary-btn {
  padding: 13px 30px;
  background-color: lightseagreen;
}

.primary-btn:hover {
  background-color: whitesmoke;
  color: lightseagreen;
  border: 1px solid lightseagreen;
}

.home .right {
  margin-top: 15%;
}

.home .socialIcon {
  margin: 30px 0;
}

.home p {
  margin-bottom: 30px;
}

p {
  color: rgb(8, 41, 40);
  line-height: 30px;
  font-size: 20px;
}

.about {
  background-color: lightseagreen;
}

.mtop {
  margin-top: 60px;
  margin-bottom: 50px;
}

h3 {
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  color: white;
  margin: 20px 0;
}

.heading h1 {
  font-size: 30px;
  margin-bottom: 30px;
}

.about p {
  margin-bottom: 20px;
  color: white;
}

.about .left {
  padding-right: 30px;
}
.about .primary-btn {
  color: black;
  border: 1px solid black;
}

.about .img {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.about .img::after {
  content: "";
  position: absolute;
  top: 0;
  left: -50px;
  right: 0;
  background-color: lightseagreen;
  width: 600px;
  height: 86vh;
  z-index: -1;
}

.skill {
  margin-top: 55px;
  justify-items: center;
  padding: 40px 0;
  background-color: lightseagreen;
  color: white;
  height: 80vh;
}

.skill .heading {
  text-align: center;
  text-decoration: underline;
}

.progress {
  background-color: black;
  border-radius: 20px;
  position: relative;
  margin: 45px 0;
  height: 10px;
  width: 90%;
}

.progress h4 {
  position: absolute;
  color: black;
  top: -30px;
  font-size: 18px;
  font-weight: 500;
}

.progress h4:nth-child(2) {
  right: 0;
  font-size: 17px;
  font-weight: 400;
  color: black;
  font-weight: bold;
}

.progress-done {
  background-color: white;
  border-radius: 20px;
  color: pink;
  height: 100%;
  width: 0;
  opacity: 0;
  transition: 1s ease 0.3s;
}

.skill .right {
  padding-left: 50px;
  margin-top: 10px;
}
.skill .right h1 {
  margin-bottom: 20px;
  font-weight: bold;
}
.skill .right p {
  color: white;
  margin-bottom: 20px;
}

.skill .primary-btn {
  background-color: white;
  color: lightseagreen;
}
.skill .primary-btn:hover {
  background-color: white;
  color: navy;
  border: 1px solid navy;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
}

.Services {
  text-align: center;
  background-color: white;
  color: lightseagreen;
  padding: 50px 0;
  margin-top: 0px;
}
.Services .box {
  text-align: left;
}

.Services img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.Services .text {
  background: #fff;
  box-shadow: 0 5px 20px 0 rgb(0 0 0 / 6%);
  padding: 30px;
  margin: 20px;
  margin-top: -30px;
  position: relative;
  z-index: 1;
}

.Services .heading h1 {
  color: lightseagreen;
  text-decoration: underline;
}

.Services .text h2 {
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 20px;
}

.Services .text p {
  color: lightseagreen;
}
