@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 80%;
  margin: auto;
}

.flex {
  display: flex;
  justify-content: space-between;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

header {
  padding: 20px 0px;
  background-color: lightseagreen;
  color: white;
  margin-bottom: 10px;
}

header ul {
  display: inline-block;
}

header ul li {
  display: inline-block;
  margin-left: 40px;
}

header ul li a {
  font-size: x-large;
  font-weight: 500;
  transition: 0.3s;
}

header ul li a:hover {
  color: darkblue;
  font-weight: 500;
}

.navbar-items-icon {
  color: #00296b;
  display: none;
}

header.active {
  position: sticky;
  top: 0;
  left: 0;
  background-color: lightseagreen;
  box-shadow: 0 2px 28px 0 lightblue;
  width: 100%;
  z-index: 10;
}

@media screen and (max-width: 768px) {
  .nav-links {
    display: none;
  }
  .nav-links-sidebar {
    position: absolute;
    display: block;
    background-color: lightseagreen;
    align-items: center;
    left: 0px;
    top: 75px;
    transition: 0.5s;
    width: 100%;
    height: 40vh;
    z-index: 5;
  }
  .nav-links-sidebar {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }
  header ul li {
    margin-bottom: 30px;
  }
  .navbar-items-icon {
    display: block;
    position: absolute;
    right: 30px;
    color: #00296b;
    border: 1px solid white;
    padding: 5px 10px;
  }
}

.left,
.right {
  width: 50%;
  position: relative;
}
.flex {
  display: flex;
}
.topMarign {
  margin-top: 80px;
}
.home {
  height: 90vh;
}
.home .img {
  height: 90vh;
  width: 100%;
  position: relative;
}
.home img {
  position: absolute;
  top: 10%;
  left: 0;
  height: 90vh;
  width: 100%;
  object-fit: contain;
  transform: scale(1.1);
}
.home h1 {
  font-size: 60px;
}

.socialIcon i {
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  margin-right: 10px;
  border-radius: 50%;
  transition: 0.5s;
  cursor: pointer;
}

.linkedin a {
  color: lightseagreen;
  border: 1px none lightseagreen;
}

.linkedin a:hover {
  color: darkblue;
}
.github a {
  color: lightseagreen;
  border: 1px none lightseagreen;
}

.github a:hover {
  color: darkblue;
}

.twitter a {
  color: lightseagreen;
  border: 1px none lightseagreen;
}

.twitter a:hover {
  color: darkblue;
}

.facebook a {
  color: lightseagreen;
  border: 1px none lightseagreen;
}

.facebook a:hover {
  color: darkblue;
}

.home .right {
  margin-top: 5%;
}

.home .socialIcon {
  margin: 30px 0;
}

.home p {
  margin-bottom: 20px;
}

p {
  color: rgb(8, 41, 40);
  line-height: 30px;
  font-size: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.mtop {
  margin-top: 60px;
  margin-bottom: 50px;
}

h3 {
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  color: white;
  margin: 20px 0;
}

.heading h1 {
  font-size: 30px;
  margin-bottom: 30px;
}

.skill {
  margin-top: 30px;
  justify-items: center;
  padding: 50px 0;
  background-color: lightseagreen;
  color: white;
}

.skill .heading {
  text-align: center;
  text-decoration: underline;
}

.progress {
  background-color: black;
  border-radius: 20px;
  position: relative;
  margin: 45px 0;
  height: 10px;
  width: 90%;
}

.progress h4 {
  position: absolute;
  color: black;
  top: -30px;
  font-size: 18px;
  font-weight: 500;
}

.progress h4:nth-child(2) {
  right: 0;
  font-size: 17px;
  font-weight: 400;
  color: black;
  font-weight: bold;
}

.progress-done {
  background-color: white;
  border-radius: 20px;
  color: pink;
  height: 100%;
  width: 0;
  opacity: 0;
  transition: 1s ease 0.3s;
}

.skill .right {
  padding: 0 50px;
}
.skill .right h1 {
  margin-bottom: 20px;
  font-weight: bold;
}
.skill .right p {
  color: white;
  margin-bottom: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
}

.Services {
  text-align: center;
  background-color: white;
  color: lightseagreen;
  padding: 50px 0;
}
.Services .box {
  text-align: left;
}

.Services img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.Services .text {
  background: #fff;
  box-shadow: 0 5px 20px 0 rgb(0 0 0 / 6%);
  padding: 30px;
  margin: 20px;
  margin-top: -30px;
  position: relative;
  z-index: 1;
}

.Services .heading h1 {
  color: lightseagreen;
  text-decoration: underline;
}

.Services .text h2 {
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 20px;
}

.Services .text p {
  color: lightseagreen;
}

.c {
  height: 80vh;
  position: relative;
  justify-content: space-between;
}

.c-bg {
  width: 30px;
  height: 780px;
  background-color: lightseagreen;
  position: absolute;
}

.c-wrapper {
  padding: 70px;
  display: flex;
}

.c-left {
  flex: 1;
}

.c-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.c-title {
  font-size: 60px;
  width: 80%;
  color: lightseagreen;
}

.c-info-item {
  display: flex;
  align-items: center;
  margin: 50px 0px;
  font-size: large;
  width: 70%;
  color: lightseagreen;
  font-weight: bold;
}

.c-icon {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}

@media screen and (max-width: 768px) {
  .left,
  .right {
    width: 100%;
  }

  .home .container {
    flex-direction: column-reverse;
    flex-direction: column;
  }
  .home {
    height: auto;
  }
  .home .img {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .home img {
    width: 100%;
    height: 100%;
    position: relative;
    transform: scale(1);
  }
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .skill .content {
    flex-direction: column;
    height: auto;
  }

  .skill .right {
    padding: 0 0;
    height: 100vh;
  }

  .c-wrapper {
    flex-direction: column;
    padding: 0 50px;
  }

  .c-title {
    font-size: 30px;
  }

  .c-info-item {
    margin: 20px 0px;
    width: 100%;
  }
}
